body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: whitesmoke;
}
.cont-personales{
    text-align: justify;
    background-color: lavender;
    border-radius: 8px;
    padding: 2rem;
    margin: 7rem;
    margin-top: 1rem;
}
.ig{
    width: 5rem;
}
.fb{
    width: 2.8rem;
}
.cont-botones{
    justify-content: left;
    display: flex;
}
.botones{
    margin-left: 2rem;
}
button{
    background-color: cadetblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
}
button:hover{
    background-color: darkcyan;
    cursor: pointer;
}