body{
    background-color: rgb(245, 41, 41);
    font-family: 'Snell Roundhand', cursive	;
}
.head{
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
}
.container{
    display: flex;
    justify-content: center;
}
.Margarita, .Pepperoni{
    background-color: aliceblue;
    text-align: center;
    width: 20rem;
    height: 22rem;
    margin: 55px;
    border-radius: 15px;
    transition: 0.5s;
}
.Margarita:hover{
    transform: scale(1.2);
}
.Pepperoni:hover{
    transform: scale(1.2);
}
.ingrediente{
    text-align: left;
    margin-left: 36px;
    font-size: 18px;
}
.Pizza{
    width: 250px;
    height: 210px;
}
.Regresar{
    margin-left: 44.5rem;
    background-color: cadetblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
}
.Regresar:hover{
    background-color: darkcyan;
    cursor: pointer;
}